header {
    .container {
        justify-content: space-around;
        align-items: center;

        padding: 1rem;
        background-color: white;

        nav {
            display: flex;
            flex-direction: row;

            li {
                color: black;

                a {
                    color: black;
                    margin-left: 2rem;
                    text-decoration: none;

                    &:hover {
                        color: $dc_blue;
                        border-bottom: 5px solid $dc_blue;
                        padding-bottom: 3.5rem;
                    }
                }
            }
        }
    }
}